Repository Neogasogaeseo/Naega-Server, pull requests merged in 2022-05, with the labels that each got.

#158 [feat] 마이페이지 픽하기 필터링
  functions/api/routes/form/formAnswerPickGET.js
  functions/api/routes/form/index.js
  functions/api/routes/team/index.js
  functions/api/routes/team/teamFeedbackPickGET.js
  functions/constants/responseMessage.js
  functions/db/answerDB.js
  functions/db/feedbackDB.js
  functions/db/formDB.js
  functions/db/keywordDB.js
  functions/db/teamDB.js
Labels: feature 🎄, get :egg:, 마이페이지 픽하기 :cupid:

#157 [chore] 기획/디자인 변동사항 수정
  functions/api/routes/form/formMyGET.js
  functions/api/routes/form/formMyMostGET.js
  functions/api/routes/form/formMyNewGET.js
  functions/db/formDB.js
  functions/db/keywordDB.js
Labels: get :egg:, chore :zap:, 너소서 메인 :+1:

#159 [chore] 마이페이지 픽하기 자잘한 수정
  functions/db/feedbackDB.js
  functions/db/keywordDB.js
Labels: fix ☔️, get :egg:, chore :zap:, 마이페이지 픽하기 :cupid:

#160 [feat] 이슈 미트볼 수정 및 삭제
  functions/api/routes/team/index.js
  functions/api/routes/team/teamIssueDELETE.js
  functions/api/routes/team/teamIssuePUT.js
  functions/constants/responseMessage.js
  functions/db/issueDB.js
Labels: feature 🎄, put :sparkles:, delete :dagger:, 이슈 미트볼 :coconut:

#163 [chore] 팀의 이슈 확인
  functions/api/routes/team/teamDetailMyIssueGET.js
Labels: get :egg:, 팀 디테일 페이지 :bento:, chore :zap:

#165 [fix] 클라이언트 요청 사항 업데이트
  functions/api/routes/form/formDetailAnswerGET.js
  functions/api/routes/team/teamIssueDetailGET.js
  functions/db/issueDB.js
  functions/db/linkAnswerKeywordDB.js
Labels: bug 🍄, fix ☔️, 팀 디테일 페이지 :bento:, 너소서 폼 링크 :link:

#169 [chore] 마이페이지 리스폰스 데이터 수정
  functions/api/routes/user/userInformationByProfileIdGET.js
  functions/db/linkAnswerKeywordDB.js
  functions/db/linkFeedbacKeywordDB.js
Labels: get :egg:, chore :zap:, 마이페이지 :face_in_clouds:

#167 [fix]수정 api 이미지 수정 버그 fix
  functions/api/routes/team/index.js
  functions/api/routes/team/teamEditPUT.js
  functions/api/routes/team/teamIssuePUT.js
  functions/api/routes/user/userProfileEditPUT.js
  functions/constants/responseMessage.js
  functions/db/issueDB.js
  functions/db/teamDB.js
  functions/db/userDB.js
Labels: fix ☔️, 팀 생성/수정 :stuck_out_tongue_winking_eye:, put :sparkles:, 마이페이지 :face_in_clouds:, 이슈 미트볼 :coconut:

#170 [chore] 이슈 미트볼 에러 로직 수정
  functions/api/routes/team/teamIssueDELETE.js
  functions/api/routes/team/teamIssuePUT.js
  functions/constants/responseMessage.js
Labels: put :sparkles:, chore :zap:, delete :dagger:, 이슈 미트볼 :coconut:

#172 [chore] 초대중인 멤버 제외
  functions/api/routes/team/teamDetailGET.js
  functions/db/memberDB.js
  functions/db/teamDB.js
Labels: get :egg:, 팀 디테일 페이지 :bento:, chore :zap:

#173 [chore] 수정사항 반영
  functions/api/routes/team/teamDELETE.js
  functions/api/routes/team/teamHostPUT.js
  functions/api/routes/team/teamInviteAcceptPUT.js
  functions/api/routes/team/teamInviteRejectPUT.js
  functions/api/routes/team/teamMemberDELETE.js
  functions/constants/responseMessage.js
  functions/db/feedbackDB.js
  functions/db/teamDB.js
Labels: fix ☔️, 팀 초대 수락 :fire:, put :sparkles:, chore :zap:, add :heavy_plus_sign:, 팀소서 미트볼 :meat_on_bone:, delete :dagger:

#176 [fix] 마이페이지 픽하기 페이지네이션 분리
  functions/api/routes/form/formAnswerPickFormListGET.js
  functions/api/routes/form/formAnswerPickGET.js
  functions/api/routes/form/index.js
  functions/api/routes/team/index.js
  functions/api/routes/team/teamFeedbackPickGET.js
  functions/api/routes/team/teamFeedbackPickTeamListGET.js
  functions/constants/responseMessage.js
Labels: fix ☔️, get :egg:, 마이페이지 픽하기 :cupid:

#177 [fix] 이미지 없을 때 500 에러 수정
  functions/db/userDB.js
Labels: fix ☔️, put :sparkles:, 마이페이지 :face_in_clouds:

#178 [fix] 유저 검색 일부 유저 누락 오류 수정
  functions/db/userDB.js
Labels: fix ☔️, get :egg:, 팀원 추가 유저 검색 :exploding_head:

#179 [feat] 문의하기 관련 api 완성
  functions/.prettierrc.js
  functions/api/routes/form/formDetailAnswerGET.js
  functions/api/routes/index.js
  functions/api/routes/report/index.js
  functions/api/routes/report/reportCategoryGET.js
  functions/api/routes/report/reportPOST.js
  functions/constants/responseMessage.js
  functions/db/index.js
  functions/db/reportDB.js
Labels: feature 🎄, post :clown_face:, get :egg:, add :heavy_plus_sign:, 문의하기 🙋🏻

#182 [fix] 피드백 수정/삭제 리스폰스 코드 수정
  functions/api/routes/team/teamFeedbackDELETE.js
  functions/api/routes/team/teamFeedbackPUT.js
Labels: put :sparkles:, chore :zap:, 피드백 미트볼 🧿

#180 [fix] 리퀘스트 빈문자열 오류 수정
  functions/api/routes/team/teamEditPUT.js
Labels: fix ☔️, 팀 생성/수정 :stuck_out_tongue_winking_eye:, put :sparkles:

#185 [chore] 중복검사 통과 로직 추가
  functions/api/routes/user/userIdDuplicateCheckGET.js
Labels: get :egg:, chore :zap:, 마이페이지 :face_in_clouds:

#184 [add] 에러 처리 추가
  functions/api/routes/team/teamDetailGET.js
  functions/api/routes/team/teamDetailIssueGET.js
  functions/api/routes/team/teamDetailMyIssueGET.js
  functions/api/routes/team/teamFeedbackCreatePOST.js
  functions/api/routes/team/teamIssueDetailFeedbackGET.js
  functions/api/routes/team/teamIssueDetailFeedbackPinPUT.js
  functions/api/routes/team/teamIssueDetailGET.js
  functions/api/routes/team/teamIssueGET.js
  functions/api/routes/team/teamMemberListGET.js
  functions/db/issueDB.js
  functions/db/memberDB.js
Labels: chore :zap:, add :heavy_plus_sign:

#186 [chore] 폼 하나만 반환하도록 수정
  functions/db/formDB.js
Labels: get :egg:, chore :zap:, 너소서 폼 링크 :link:

#188 [fix] 0524 QA
  functions/api/routes/form/formMyAllGET.js
  functions/api/routes/form/formMyGET.js
  functions/api/routes/form/formMyNewGET.js
  functions/api/routes/form/index.js
  functions/db/answerDB.js
Labels: fix ☔️, get :egg:, chore :zap:, 너소서 메인 :+1:
