Repository Neogasogaeseo/Naega-Server, pull requests merged in 2022-04, with the labels that each got.

#135 [chore] 알림 시간 추가
  functions/db/memberDB.js
Labels: get :egg:, chore :zap:, 알림 :alarm_clock:

#144 [chore] 팀원 관리 수정
  functions/api/routes/team/index.js
  functions/api/routes/team/teamEditGET.js
  functions/api/routes/team/teamEditPUT.js
  functions/api/routes/team/teamMemberEditGET.js
  functions/api/routes/team/teamMemberEditPOST.js
  functions/api/routes/user/userSearchGET.js
Labels: post :clown_face:, get :egg:, 팀 생성/수정 :stuck_out_tongue_winking_eye:, put :sparkles:, chore :zap:

#141 [add] 404 처리
  functions/api/routes/team/teamDetailGET.js
Labels: get :egg:, 팀 디테일 페이지 :bento:, add :heavy_plus_sign:

#142 [feat] 회원 탈퇴
  functions/api/routes/user/index.js
  functions/api/routes/user/userDELETE.js
  functions/constants/responseMessage.js
  functions/db/userDB.js
Labels: feature 🎄, delete :dagger:, 로그아웃/탈퇴 :hand:

#147 [chore] 쿼리 파라미터 변경
  functions/api/routes/user/userSearchGET.js
Labels: get :egg:, 팀 생성/수정 :stuck_out_tongue_winking_eye:, 팀원 추가 유저 검색 :exploding_head:, chore :zap:

#149 [fix] 팀 이슈 디테일 / 너소서 폼 디테일 수정
  functions/api/routes/form/formDetailAnswerGET.js
  functions/api/routes/form/formDetailGET.js
  functions/api/routes/team/teamIssueDetailFeedbackGET.js
  functions/api/routes/team/teamIssueDetailGET.js
  functions/constants/responseMessage.js
  functions/db/answerDB.js
  functions/db/keywordDB.js
  functions/db/linkAnswerKeywordDB.js
  functions/db/linkFeedbacKeywordDB.js
Labels: fix ☔️, 팀 이슈 디테일🪃, 너소서 폼 디테일 🥊

#154 [feat] 피드백 수정/삭제, 폼 답변 삭제
  functions/api/routes/form/formAnswerDELETE.js
  functions/api/routes/form/index.js
  functions/api/routes/team/index.js
  functions/api/routes/team/teamFeedbackCreatePOST.js
  functions/api/routes/team/teamFeedbackDELETE.js
  functions/api/routes/team/teamFeedbackPUT.js
  functions/constants/responseMessage.js
  functions/db/answerDB.js
  functions/db/feedbackDB.js
  functions/db/keywordDB.js
  functions/db/linkAnswerKeywordDB.js
  functions/db/linkFeedbacKeywordDB.js
Labels: feature 🎄, put :sparkles:, 팀소서 미트볼 :meat_on_bone:, delete :dagger:, 답변 미트볼 🐸

#153 [fix] 빠진 미들웨어 추가
  functions/api/routes/user/index.js
Labels: fix ☔️

#155 [fix] 답변 삭제/ 피드백 삭제 리스폰스 메시지 수정
  functions/api/routes/form/formAnswerDELETE.js
  functions/constants/responseMessage.js
Labels: fix ☔️, 답변 미트볼 🐸
