Repository Neogasogaeseo/Naega-Server, pull requests merged in 2022-01, with the labels that each got.

#2 로그인/회원가입 구현 완료
  .gitignore
  firebase.json
  functions/api/routes/auth/authLoginPOST.js
  functions/api/routes/auth/authRegisterPOST.js
  functions/api/routes/auth/index.js
  functions/api/routes/index.js
  functions/constants/responseMessage.js
  functions/db/index.js
  functions/db/user.js
  functions/lib/jwtHandlers.js
  functions/package-lock.json
  functions/package.json
Labels: feature 🎄, post :clown_face:

#12 [feat] 팀 정보 등록
  functions/api/routes/team/index.js
  functions/api/routes/team/teamPOST.js
  functions/api/routes/user/index.js
  functions/constants/responseMessage.js
  functions/db/index.js
  functions/db/teamDB.js
  functions/package-lock.json
  package-lock.json
Labels: feature 🎄, post :clown_face:, 팀 생성/수정 :stuck_out_tongue_winking_eye:

#10 [feat] 팀원소개서 메인 페이지
  functions/api/routes/team/index.js
  functions/api/routes/team/teamGET.js
  functions/api/routes/team/teamIssueGET.js
  functions/db/index.js
  functions/db/issueDB.js
  functions/db/memberDB.js
Labels: feature 🎄, get :egg:, 팀소서 메인 :busts_in_silhouette:

#14 [feat] 키워드 생성
  functions/api/routes/user/index.js
  functions/api/routes/user/keywordCreatePOST.js
  functions/constants/responseMessage.js
  functions/db/index.js
  functions/db/keywordDB.js
Labels: post :clown_face:, 키워드 조회/생성 🤣

#17 [feat] 팀 이슈 카테고리 조회 및 새로운 이슈 생성
  functions/api/routes/team/index.js
  functions/api/routes/team/teamIssueCategoryGET.js
  functions/api/routes/team/teamIssuePOST.js
  functions/constants/responseMessage.js
  functions/db/issueDB.js
Labels: feature 🎄, post :clown_face:, get :egg:, 이슈 생성 :face_exhaling:

#21 [feat] profileId로 user 검색 구현
  functions/api/routes/user/index.js
  functions/api/routes/user/userSearchGET.js
  functions/constants/responseMessage.js
  functions/db/userDB.js
Labels: feature 🎄, get :egg:, 팀원 추가 유저 검색 :exploding_head:

#24 [feat] 팀 초대 수락
  functions/api/routes/team/index.js
  functions/api/routes/team/teamInviteGET.js
  functions/api/routes/team/teamInvitePOST.js
  functions/db/memberDB.js
  functions/db/teamDB.js
Labels: feature 🎄, post :clown_face:, get :egg:, 팀 초대 수락 :fire:

#27 [feat] 피드백 생성 작업중
  functions/api/routes/team/index.js
  functions/api/routes/team/teamFeedbackCreatePOST.js
  functions/api/routes/team/teamMemberListGET.js
  functions/api/routes/user/keywordCreatePOST.js
  functions/api/routes/user/keywordListGET.js
  functions/constants/responseMessage.js
  functions/db/feedbackDB.js
  functions/db/index.js
  functions/db/keywordDB.js
  functions/db/linkFeedbacKeywordDB
Labels: feature 🎄, post :clown_face:, 팀소서 피드백 생성🏸

#29 [chore] 최신순 정렬 구현 완료
  functions/api/routes/team/teamDetailIssueGET.js
  functions/api/routes/team/teamIssueGET.js
  functions/db/issueDB.js
Labels: get :egg:, 팀소서 메인 :busts_in_silhouette:, 팀 디테일 페이지 :bento:, chore :zap:

#31 [feat] 피드백 생성 완료 #19
  functions/api/routes/team/teamFeedbackCreatePOST.js
  functions/api/routes/user/keywordCreatePOST.js
  functions/db/keywordDB.js
  functions/db/linkFeedbacKeywordDB.js
Labels: feature 🎄, post :clown_face:, 팀소서 피드백 생성🏸

#37 [feat] 팀 정보 수정, 팀원 추가
  functions/api/routes/team/index.js
  functions/api/routes/team/teamPUT.js
  functions/api/routes/user/userSearchGET.js
  functions/constants/responseMessage.js
  functions/db/memberDB.js
  functions/db/teamDB.js
  functions/db/userDB.js
Labels: feature 🎄, post :clown_face:, 팀 생성/수정 :stuck_out_tongue_winking_eye:, put :sparkles:

#39 [add] 팀의 멤버인지 확인하는 코드 추가
  functions/api/routes/team/teamIssuePOST.js
  functions/db/memberDB.js
Labels: get :egg:, 이슈 생성 :face_exhaling:, add :heavy_plus_sign:

#44 [fix] 오류 수정
  functions/api/routes/form/formCreateGET.js
  functions/api/routes/form/index.js
  functions/api/routes/team/teamDetailGET.js
  functions/api/routes/team/teamDetailIssueGET.js
  functions/api/routes/team/teamDetailMyIssueGET.js
  functions/api/routes/team/teamIssueGET.js
  functions/constants/responseMessage.js
  functions/db/formDB.js
  functions/db/teamDB.js
Labels: fix ☔️, get :egg:, 팀 디테일 페이지 :bento:, 팀 초대 수락 :fire:, put :sparkles:, 너소서 폼 링크 :link:

#45 [feat] 카카오 소셜 로그인/회원가입, 리프레시, 멀티 파트
  functions/api/routes/auth/authLoginPOST.js
  functions/api/routes/auth/authRegisterPOST.js
  functions/api/routes/auth/index.js
  functions/constants/responseMessage.js
  functions/db/userDB.js
  functions/lib/jwtHandlers.js
  functions/middlewares/auth.js
  functions/middlewares/uploadImage.js
  functions/package-lock.json
  functions/package.json
Labels: feature 🎄, post :clown_face:, 로그인/회원가입 :white_check_mark:

#47 [feat] 답변 생성 전 정보 조회 기능
  functions/api/routes/form/formAnswerGET.js
  functions/api/routes/form/formAnswerRelationshipGET.js
  functions/api/routes/form/index.js
  functions/constants/responseMessage.js
  functions/db/answerDB.js
  functions/db/formDB.js
  functions/db/index.js
  functions/db/linkAnswerKeywordDB.js
  functions/middlewares/crypto.js
Labels: feature 🎄, get :egg:, 너소서 답변 생성 :upside_down_face:

#54 [feat] 이미지, 링크
  functions/api/routes/form/formCreateGET.js
  functions/api/routes/form/formTemplatePopularGET.js
  functions/api/routes/form/formTemplateRecentGET.js
  functions/api/routes/team/teamDetailGET.js
  functions/api/routes/team/teamDetailIssueGET.js
  functions/api/routes/team/teamDetailMyIssueGET.js
  functions/api/routes/team/teamGET.js
  functions/api/routes/team/teamIssueGET.js
  functions/db/formDB.js
  functions/db/issueDB.js
  functions/middlewares/crypto.js
  functions/middlewares/resizeImage.js
Labels: feature 🎄, get :egg:, 팀 디테일 페이지 :bento:, 너소서 폼 링크 :link:

#55 [feat] 토큰으로 접속 유저 정보 가져오기
  functions/api/routes/user/index.js
  functions/api/routes/user/userInformationByTokenGET.js
  functions/db/userDB.js
Labels: feature 🎄, get :egg:, 마이페이지 :face_in_clouds:

#58 [add] teamId 없을 경우 없는대로 search하는 코드 추가
  functions/api/routes/form/formAnswerCreatePOST.js
  functions/api/routes/user/index.js
  functions/api/routes/user/userSearchGET.js
  functions/db/userDB.js
Labels: get :egg:, 팀 생성/수정 :stuck_out_tongue_winking_eye:, add :heavy_plus_sign:

#59 [chore] 복호화 수정 #53
  functions/api/routes/form/formAnswerGET.js
Labels: get :egg:, chore :zap:, 너소서 폼 링크 :link:

#63 [chore] method 변경 #62
  functions/api/routes/form/formCreatePOST.js
  functions/api/routes/form/index.js
Labels: post :clown_face:, chore :zap:, 너소서 폼 링크 :link:

#64 [fix] teamPOST,userSearchGET 서버 내부 에러 수정
  functions/api/routes/team/teamPOST.js
  functions/api/routes/user/userSearchGET.js
  functions/db/memberDB.js
  functions/db/teamDB.js
  functions/db/userDB.js
Labels: fix ☔️, get :egg:, 키워드 조회/생성 🤣, 팀원 추가 유저 검색 :exploding_head:

#67 [feat] 팀 이슈 디테일 조회
  functions/api/routes/team/teamIssueDetailGET.js
  functions/constants/responseMessage.js
  functions/db/issueDB.js
  functions/db/linkFeedbacKeywordDB.js
  functions/db/teamDB.js
  functions/package-lock.json
Labels: get :egg:, put :sparkles:, 팀 이슈 디테일🪃

#69 [feat] 너소서 배너 조회
  functions/api/routes/auth/authLoginPOST.js
  functions/api/routes/form/formBannerGET.js
  functions/api/routes/form/index.js
  functions/constants/responseMessage.js
  functions/db/formDB.js
Labels: feature 🎄, post :clown_face:, get :egg:, 로그인/회원가입 :white_check_mark:, chore :zap:, 너소서 폼 링크 :link:, 너소서 메인 :+1:

#71 [feat] 너가소개서 답변 생성
  functions/api/routes/form/formAnswerCreatePOST.js
  functions/api/routes/form/index.js
  functions/constants/responseMessage.js
  functions/db/answerDB.js
  functions/db/linkAnswerKeywordDB.js
Labels: feature 🎄, post :clown_face:, get :egg:, 너소서 답변 생성 :upside_down_face:

#77 [feat] 내가 생성한 너가소개서 조회
  functions/api/routes/auth/authLoginPOST.js
  functions/api/routes/form/formCreatePOST.js
  functions/api/routes/form/formMyGET.js
  functions/api/routes/form/formMyNewGET.js
  functions/api/routes/form/index.js
  functions/constants/responseMessage.js
  functions/db/answerDB.js
  functions/db/formDB.js
  functions/db/keywordDB.js
Labels: feature 🎄, post :clown_face:, get :egg:, 너소서 폼 링크 :link:, 너소서 메인 :+1:

#76 [feat] 북마크된 답변, 속한 팀 조회, 북마크된 피드백 조회 구현
  functions/api/routes/user/index.js
  functions/api/routes/user/userInformationByProfileIdGET.js
  functions/api/routes/user/userPinnedAnswerGET.js
  functions/api/routes/user/userPinnedTeamGET.js
  functions/constants/responseMessage.js
  functions/db/answerDB.js
  functions/db/feedbackDB.js
  functions/db/keywordDB.js
  functions/db/teamDB.js
  functions/db/userDB.js
Labels: feature 🎄, get :egg:, 마이페이지 :face_in_clouds:

#82 [add] 이미지 업로드 미들웨어 추가, [fix] 답변 생성 쿼리문 및 파라미터 수정
  functions/api/routes/form/formAnswerCreatePOST.js
  functions/api/routes/team/index.js
  functions/api/routes/team/teamIssuePOST.js
  functions/api/routes/team/teamPOST.js
  functions/db/answerDB.js
  functions/db/formDB.js
Labels: fix ☔️, 이슈 생성 :face_exhaling:, 팀 생성/수정 :stuck_out_tongue_winking_eye:, add :heavy_plus_sign:, 너소서 답변 생성 :upside_down_face:

#84 [fix] form-data로 받아왔을 시 array가 string이 되는 경우 수정
  functions/db/memberDB.js
Labels: fix ☔️, post :clown_face:, 팀 생성/수정 :stuck_out_tongue_winking_eye:

#88 [fix] 이슈 생성 오류 수정
  functions/api/routes/team/teamIssuePOST.js
  functions/db/memberDB.js
Labels: fix ☔️, 이슈 생성 :face_exhaling:

#89 [feat] 너소서 폼 이슈 디테일 작업 완료
  functions/api/routes/form/formDetailAnswerGET.js
  functions/api/routes/team/teamIssueDetailFeedbackGET.js
  functions/constants/responseMessage.js
  functions/db/answerDB.js
  functions/db/linkAnswerKeywordDB.js
  functions/db/linkFeedbacKeywordDB.js
Labels: post :clown_face:, get :egg:, 너소서 폼 디테일 🥊

#91 [chore] 생성한 폼이 한개인 경우
  functions/api/routes/form/formMyGET.js
Labels: get :egg:, chore :zap:, 너소서 메인 :+1:

#93 [feat] 자잘한 수정들
  functions/api/routes/team/teamFeedbackCreatePOST.js
  functions/db/answerDB.js
  functions/db/userDB.js
Labels: chore :zap:

#94 [chore] answerDB 쿼리문 재수정
  functions/db/answerDB.js
Labels: fix ☔️, 너소서 답변 생성 :upside_down_face:

#95 [chore] 이슈 생성 메소드 파라미터 순서 변경
  functions/api/routes/team/teamIssuePOST.js
Labels: 이슈 생성 :face_exhaling:, chore :zap:

#96 [feat] 생성한 적 있는 폼일 때
  functions/api/routes/form/formCreatePOST.js
Labels: post :clown_face:, chore :zap:, 너소서 폼 링크 :link:

#99 [feat] 유저 키워드 조회 구현 완료
  functions/api/routes/user/userInformationByProfileIdGET.js
  functions/db/answerDB.js
  functions/db/linkAnswerKeywordDB.js
  functions/db/linkFeedbacKeywordDB.js
  functions/db/userDB.js
Labels: feature 🎄, get :egg:, 마이페이지 :face_in_clouds:

#100 [feat] topKeyword 쿼리 수정
  functions/db/keywordDB.js
Labels: chore :zap:

#102 [fix] issue/:issueId/feedback 피드백 없는 경우 분기처리
  functions/api/routes/team/teamIssueDetailFeedbackGET.js
  functions/constants/responseMessage.js
Labels: fix ☔️, chore :zap:

#103 [chore] 답변 없는 폼
  functions/api/routes/form/formMyGET.js
Labels: get :egg:, chore :zap:, 너소서 메인 :+1:

#104 [fix] url 변경으로 폼 정보 조회
  functions/api/routes/auth/authLoginPOST.js
  functions/api/routes/auth/authRegisterPOST.js
  functions/api/routes/form/formDetailGET.js
  functions/api/routes/form/formMyGET.js
  functions/api/routes/form/formMyNewGET.js
  functions/api/routes/team/teamDetailGET.js
  functions/api/routes/team/teamDetailIssueGET.js
  functions/api/routes/team/teamDetailMyIssueGET.js
  functions/api/routes/team/teamGET.js
  functions/api/routes/team/teamInviteAcceptPUT.js
  functions/api/routes/team/teamInviteGET.js
  functions/api/routes/team/teamInviteRejectPUT.js
  functions/api/routes/team/teamIssueCategoryGET.js
  functions/api/routes/team/teamIssueDetailFeedbackGET.js
  functions/api/routes/team/teamIssueGET.js
  functions/api/routes/team/teamIssuePOST.js
  functions/api/routes/team/teamPOST.js
  functions/api/routes/team/teamPUT.js
  functions/api/routes/user/keywordCreatePOST.js
  functions/api/routes/user/keywordListGET.js
  functions/api/routes/user/userSearchGET.js
Labels: feature 🎄, chore :zap:

#106 [chore] 너소서 폼 최신순
  functions/db/answerDB.js
Labels: get :egg:, chore :zap:, 너소서 메인 :+1:

#107 [feat] 파이어베이스 스토리지 폴더링
  functions/api/routes/auth/index.js
  functions/api/routes/team/index.js
  functions/middlewares/uploadImage.js
Labels: refactor 🪐, add :heavy_plus_sign:
